<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Form Response</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <!-- <input type="checkbox" name="active" th:checked="${user.active}" /> -->
    <p th:text="'aktivní: ' + ${pracovnik.aktivni}" />
    <p th:text="'křestní jméno: ' + ${pracovnik.krestni_jmeno}" />
    <p th:text="'příjmení: ' + ${pracovnik.prijmeni}" />
    <a href="/pracovnik">Submit another message</a>
</body>
</html>
